.landing {
  /* background: #a27035; */
  background-image: radial-gradient(
    circle,
    #b88b4a,
    #b38445,
    #ad7d3f,
    #a8773a,
    #a27035
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.welcome-container {
  display: flex;
  position: relative;
  font-size: 2rem;
  justify-content: center;
  color: var(--dark-chocolate);
}
.welcome-container .greeting {
  font-family: 'YouthTouch';
  display: block;
  text-align: center;
  font-size: 50px;
}
.welcome-container .name {
  font-family: 'Classico';
  display: block;
  text-align: center;
  font-size: 100px;
}
.welcome-container .message {
  font-family: 'YouthTouch';
  display: block;
  text-align: center;
  font-size: 50px;
}

.polygon-container {
  display: flex;
  justify-content: center;
  align-self: center;
}

.landing-item {
  display: flex;
  margin: 40px;
  width: 200px;
  height: 200px;
}

@media screen and (max-width: 500px) {
  .polygon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100px;
    height: 100%;
  }
}
