.landing {
  /* background: #a27035; */
  background-image: radial-gradient(
    circle,
    #b88b4a,
    #b38445,
    #ad7d3f,
    #a8773a,
    #a27035
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.welcome-container {
  display: flex;
  position: relative;
  top: 30px;
  justify-content: center;
  padding: 30px;
  color: var(--dark-chocolate);
}
.welcome-container .greeting {
  font-family: 'YouthTouch';
  display: block;
  text-align: center;
  font-size: 50px;
}
.welcome-container .name {
  font-family: 'Classico';
  display: block;
  text-align: center;
  font-size: 100px;
}
.welcome-container .message {
  font-family: 'YouthTouch';
  display: block;
  text-align: center;
  font-size: 50px;
}

.polygons-container {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-self: center;
}

.landing-item {
  display: flex;
}

.bounce-in-top1 {
  -webkit-animation: bounce-in-top 1.5s 0.5s both;
  animation: bounce-in-top 1.5s 0.5s both;
}
.bounce-in-top2 {
  -webkit-animation: bounce-in-top 1.5s 0.7s both;
  animation: bounce-in-top 1.5s 0.7s both;
}
.bounce-in-top3 {
  -webkit-animation: bounce-in-top 1.5s 1s both;
  animation: bounce-in-top 1.5s 1s both;
}
.bounce-in-top4 {
  -webkit-animation: bounce-in-top 1.5s 1.3s both;
  animation: bounce-in-top 1.5s 1.3s both;
}

.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 3s both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 3s both;
}
@media screen and (max-width: 500px) {
  .welcome-container .greeting,
  .welcome-container .message {
    font-size: 40px;
  }
  .welcome-container .name {
    font-size: 60px;
  }
  .polygons-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    gap: 1px 1px;
  }
  /*   .polygons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  } */
}
