.polygon-name-hide {
  display: none;
}
.polygon-name-show {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.polygon-name-show span {
  position: absolute;
  /*  -webkit-animation: slit-in-horizontal 0.45s;
  animation: slit-in-horizontal 0.45s;*/
  top: 40%;
  left: 0;
  width: 100%;
  height: 25%;
  font-family: 'YouthTouch';
  font-size: 60px;
  text-align: center;
}

.dark-chocolate {
  color: var(--dark-chocolate);
}
.chocolate {
  color: var(--chocolate);
}
.sand {
  color: var(--sand);
}
.camel {
  color: var(--camel);
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
